@import "node_modules/primeflex/primeflex.css";
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.-translate-x-50 {
  transform: translateX(-50%);
}

.-translate-y-50 {
  transform: translateY(-50%);
}

.loader-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  width: 100%;
  height: 100dvh;
  text-align: center;
  top: 0;
}

.loader-overlay {
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  z-index: 998;
  background-color: rgba(120, 120, 120, 0.3);
  top: 0;
}


.container {
  width: 100%;
  height: 100%;

  flex: auto;
  position: relative;
}

.inner-container{
  padding: 2rem;
}

.title{
  margin-bottom: 1rem;
}

/* .w-full{
  width: 100%;
}

.h-full{
  height: 100%;
}

.flex{
  display: flex;
  flex: auto;
}

.justify-content-center{
  justify-content: center;
}

.justify-content-between{
  justify-content: space-between;
}

.align-items-center{
  align-items: center;
}
 */
